{% extends 'base.html.twig' %}

{% block title %}Cambio de contrase&ntilde;a | BambusLife{% endblock %}

{% block header %}
  {{ render(controller('App\\Controller\\Components\\HeaderController::index')) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('change-password') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('change-password') }}
{% endblock %}

{% block body %}

<div class="container" style="min-height: 600px;">

  <div class="columns">
    <div class="column is-full">
      <h3 style="margin-top: 20px;" class="subtitle is-3">Cambio de contrase&ntilde;a</h3>
    </div>
  </div>

  {# ERROR MSG #}
  {% if err_message is defined and err_message != NULL %}
    <div class="columns">
      <div class="column">
        <article class="message is-danger">
          <div class="message-body">
            {{ err_message | raw }}
          </div>
        </article>
      </div>
    </div>
  {% endif %}

  {# MSG #}
  {% if message is defined and message != NULL %}
    <div class="columns is-8" style="">
      <div class="column">
        <article class="message">
          <div class="message-body">
            {{ message | raw }}
          </div>
        </article>
      </div>
    </div>
  {% endif %}

  <div class="columns" style="min-height: 600px;">
    <form name="changePasswordForm" id="changePasswordForm" method="post" action="{{ path('change_password') }}" style="padding: 40px 20px;">
      <div class="field">
        <label class="label">Contraseña actual</label>
        <div class="control">
          <input class="input" type="password"  value=""
                  name="actualPassword" id="actualPassword" required
                  placeholder="Ingrese su contraseña actual" >
          <div class="messages"></div>
        </div>
      </div>
      <div class="field">
        <label class="label">Contraseña nueva</label>
        <div class="control">
          <input class="input" type="password"  value=""
                  name="newPassword" id="newPassword" required
                  placeholder="Ingrese su nueva contraseña" >
          <div class="messages"></div>
        </div>
      </div>
      <div class="field">
        <label class="label">Confirmar contraseña nueva</label>
        <div class="control">
          <input class="input" type="password"  value=""
                  name="newPasswordConfirm" id="newPasswordConfirm" required
                  placeholder="Confirme su nueva contraseña" >
          <div class="messages"></div>
        </div>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary is-rounded" type="submit" id="btnChange" name="btnChange">
            Cambiar
          </button>
        </p>
        <p class="control">
          <a class="button is-white" href="{{ path('profile') }}">
            Cancelar
          </a>
        </p>
        <div id="messageFinal" style="color: red;"></div>
      </div>
    </form>
  </div>

      {# {% if flagForm == 0 %}
      {% endif %}
      {% if flagForm == 1 %}
        <h3 class="subtitle is-3" style="padding: 40px 20px; color: green;">Contraseña cambiada correctamente.</h3>
      {% endif %}
      {% if flagForm == 2 %}
        <h3 class="subtitle is-3" style="padding: 40px 20px; color: red;">Ocurrio un error al intentar cambiar la contraseña.</h3>
      {% endif %} #}

</div>

{% endblock %}

{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}