{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('profile-clinic') }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('profile-clinic') }}
{% endblock %}

{% block title %}Perfil clínico | BambusLife{% endblock %}

{% block header %}
  {{ render(controller('App\\Controller\\Components\\HeaderController::index')) }}
{% endblock %}

{% block body %}

  <div class="container" style="min-height: 600px;">

    {# INFO MSG #}
    {% if info_msg is defined and info_msg != NULL and info_msg | length > 0 %}
      <div class="columns is-8">
        <div class="column">
          <article class="message is-success">
            <div class="message-body">
              {{ info_msg | raw }}
            </div>
          </article>
        </div>
      </div>
    {% endif %}

    {# ERROR MSG #}
    {% if error_msg is defined and error_msg != NULL %}
      <div class="columns is-8" style="">
        <div class="column">
          <article class="message is-danger">
            <div class="message-body">
              {{ error_msg | raw }}
            </div>
          </article>
        </div>
      </div>
    {% endif %}

    <div class="columns" >
      <div class="column is-full">
        <h3 style="margin-top: 20px;" class="subtitle is-3">Perfil Cl&iacute;nico</h3>
      </div>
    </div>

    <form name="clinicalData" id="clinicalData" method="post" action="{{path('clinicalProfilePost')}}" style="padding-bottom: 50px;">
      <div class="columns is-8 is-variable is-multiline is-mobile" style="padding: 10px;">
          
        {# BASICOS Y SOCIAL HISTORY #}
        <div class="column is-7-desktop is-12-tablet is-12-mobile">
          {# <!-- basicos --> #}
          <div class="field">
            <label class="label">
              {% if country == 'UY' or country == 'BO' or country == 'CL' or country == 'CR' or country == 'EC' or country == 'NI' or country == 'VE' %}
                Cédula de identidad (CI)
              {% elseif country == 'AR' or country == 'PE' %}
                Documento nacional de identidad (DNI)
              {% elseif country == 'BR' %}
                Registro Geral (RG)
              {% elseif country == 'CO' %}
                Cédula de ciudadanía (CC)
              {% elseif country == 'SV' %}
                Documento único de identidad (DUI)
              {% elseif country == 'GT' %}
                Documento personal de identificación (DPI)
              {% elseif country == 'HN' %}
                Tarjeta de identidad (TDI)
              {% elseif country == 'MX' %}
                Clave Única de Registro de Población (CURP) 
              {% elseif country == 'PA' %}
                Cédula de identidad personal (CIP)
              {% elseif country == 'PY' %}
                Cédula de identidad civil (CIC/CI)
              {% elseif country == 'DO' %}
                Cédula de identidad y electoral (CIE)
              {% else %}
                Documento 
              {% endif %}
            </label>
            <div class="control">
              <input class="input" type="text" placeholder="Documento de identidad"  style="max-width:200px"
                name="document" id="document" value="{{patient.document}}" prevvalue="{{patient.document}}">
            </div>
            <div>Sin puntos ni guiones</div>
            <div class="messages"></div>
          </div>

          <div class="field">
            <label class="label">G&eacute;nero</label>
            <div class="control">
              <div class="select">
                <select name="gender" id="gender" prevvalue="{{patient.gender}}">
                  <option value="m" {% if patient.gender == 'm'%}selected{% endif %} >Hombre</option>
                  <option value="f" {% if patient.gender == 'f'%}selected{% endif %}>Mujer</option>
                </select>
              </div>
            </div>
            <div class="messages"></div>
          </div>

          <div class="field">
            <label class="label">Fecha de nacimiento</label>
            <div class="control">
              <input type="date" name="birthdate" id="birthdate" class="input"  style="max-width:200px"
                value="{{patient.birthdate}}" prevvalue="{{patient.birthdate}}">
            </div>
            <div class="messages"></div>
          </div>

          {# PATIENT EXTRA DATA #}
          {# FOR NOW: (VITAL SIGNS -> BODY WIEIGHT)  #}
          {% if patient.vitals and patient.vitals | length > 0 %}
            {% for vital in patient.vitals %}
              {% for comp in vital.components %}
                {% if comp.field_unit is defined and comp.field_unit | length > 0 %}
                  <div class="field ">
                    <label class="label">{{comp.name}}</label>
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="text" 
                            name="comp_{{vital.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                              id="comp_{{vital.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                          {% if comp.valueQuantityValue is defined and comp.valueQuantityValue | length > 0 %}
                            value="{{comp.valueQuantityValue}}"
                            prevvalue="{{comp.valueQuantityValue}}"
                          {% else %}
                            value=""
                            prevvalue=""
                          {% endif %}
                          >
                      </p>
                      <p class="control">
                        <a class="button is-static">{{comp.field_unit}}</a>
                      </p>
                    </div>
                    <div class="messages"></div>
                  </div>
                {% else %}
                  <div class="field">
                    <label class="label">{{comp.name}}</label>
                    <div class="control">
                      <input class="input" type="text" 
                          name="comp_{{vital.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                            id="comp_{{vital.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                        {% if comp.valueQuantityValue is defined and comp.valueQuantityValue | length > 0 %}
                          value="{{comp.valueQuantityValue}}"
                          prevvalue="{{comp.valueQuantityValue}}"
                        {% else %}
                          value=""
                          prevvalue=""
                        {% endif %}
                        >
                    </div>
                    <div class="messages"></div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

          {# <!-- Social history --> #}
          {% if patient.socialHistory is defined %}
          
            <h4 style="margin-top: 60px;" class="subtitle is-3">Historia Social</h4>

            {% for socHis in patient.socialHistory %}
              <h5 class="subtitle is-5" style="margin-top:40px">{{socHis.name}}</h5>
              {% for comp in socHis.components %}
                {% if comp.options is defined and comp.options | length > 0 %}
                  <div class="field" style="margin-left: 20px;">
                    <label class="label">{{comp.name}}</label>
                    <div class="control">
                      <div class="select">
                        <select class="input" name="comp_{{socHis.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                                                id="comp_{{socHis.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                                              {% if comp.valueCodableCoding is defined and comp.valueCodableCoding | length > 0 %}
                                              prevvalue="op_{{comp.valueCodableCoding}}_{{comp.valueCodableCode}}"
                                              {% endif %}>
                          <option value=""></option>
                          {% for opt in comp.options %}
                            <option value="op_{{opt.codingCF}}_{{opt.codeCF}}"
                            {% if comp.valueCodableCoding is defined and comp.valueCodableCode and opt.codingCF == comp.valueCodableCoding and opt.codeCF == comp.valueCodableCode %}
                              selected
                            {% endif %}
                            >{{opt.description}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="messages"></div>
                  </div>
                {% else %}
                  {% if comp.field_unit is defined and comp.field_unit | length > 0 %}
                    <div class="field " style="margin-left: 20px;">
                      <label class="label">{{comp.name}}</label>
                      <div class="field has-addons">
                        <p class="control">
                          <input class="input" type="text" 
                              name="comp_{{socHis.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                                id="comp_{{socHis.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                            {% if comp.valueQuantityValue is defined and comp.valueQuantityValue | length > 0 %}
                              value="{{comp.valueQuantityValue}}"
                              prevvalue="{{comp.valueQuantityValue}}"
                            {% else %}
                              value=""
                              prevvalue=""
                            {% endif %}
                            >
                        </p>
                        <p class="control">
                          <a class="button is-static">{{comp.field_unit}}</a>
                        </p>
                      </div>
                      <div class="messages"></div>
                    </div>
                  {% else %}
                    <div class="field" style="margin-left: 20px;">
                      <label class="label">{{comp.name}}</label>
                      <div class="control">
                        <input class="input" type="text" 
                            name="comp_{{socHis.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                              id="comp_{{socHis.id}}_{{comp.obs_componentCoding}}_{{comp.obs_componentCode}}" 
                          {% if comp.valueQuantityValue is defined and comp.valueQuantityValue | length > 0 %}
                            value="{{comp.valueQuantityValue}}"
                            prevvalue="{{comp.valueQuantityValue}}"
                          {% else %}
                            value=""
                            prevvalue=""
                          {% endif %}
                          >
                      </div>
                      <div class="messages"></div>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        </div>

        {# <!-- Family History Conditions & Contacts --> #}
        <div class="column is-7-desktop is-12-tablet is-12-mobile">

          {# Contacts #}
          <h4 style="margin-top: 20px;" class="subtitle is-3">Contactos</h4>
          {% if patient.contacts is defined and patient.contacts | length > 0 %}  
            <input type="hidden" value="{{patient.contacts | length}}" id="contactsTotal" name="contactsTotal">
            <div id="contactList" >
              {% for contact in patient.contacts %}
                <div class="cliperf-box" id="contact_{{loop.index0}}">
                  <h4>{{contact.name}}</h4>
                  <p>{{contact.relationshipDesc}}</p>
                  <p>Tel: {{contact.telecom_value}} ({{contact.telecom_useDesc}})</p>
                  {% if contact.email is defined and contact.email | length > 0 %}
                    <p>{{contact.email}}</p>
                  {% endif %}
                  <div>
                    <button class="button is-text" type="button" onclick="removeContact({{loop.index0}})">Quitar</button>
                  </div>
                  <input type="hidden" id="con_{{loop.index0}}_id"                 name="con_{{loop.index0}}_id"                 value="{{contact.id}}"               prevvalue="{{contact.id}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactRelation"    name="con_{{loop.index0}}_contactRelation"    value="{{contact.relationship}}"     prevvalue="{{contact.relationship}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactName"        name="con_{{loop.index0}}_contactName"        value="{{contact.name}}"             prevvalue="{{contact.name}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactAddressType" name="con_{{loop.index0}}_contactAddressType" value="{{contact.address_use}}"      prevvalue="{{contact.address_use}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactAddress"     name="con_{{loop.index0}}_contactAddress"     value="{{contact.address_line}}"     prevvalue="{{contact.address_line}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactCountry"     name="con_{{loop.index0}}_contactCountry"     value="{{contact.address_country}}"  prevvalue="{{contact.address_country}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactCityId"      name="con_{{loop.index0}}_contactCityId"      value="{{contact.address_city}}"     prevvalue="{{contact.address_city}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactCityName"    name="con_{{loop.index0}}_contactCityName"    value="{{contact.address_cityName}}" prevvalue="{{contact.address_cityName}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactTelecomUse"  name="con_{{loop.index0}}_contactTelecomUse"  value="{{contact.telecom_use}}"      prevvalue="{{contact.telecom_use}}">
                  <input type="hidden" id="con_{{loop.index0}}_contactPhone"       name="con_{{loop.index0}}_contactPhone"       value="{{contact.telecom_value}}"    prevvalue="{{contact.telecom_value}}">
                </div>
              {% endfor %}
            </div>
            <div id="contactListEmpty" style="display:none">Defina los contactos sus cercanos, para casos de emergencia o para compartir la informaci&oacute;n cl&iacute;nica</div>
          {% else %}
            <input type="hidden" value="0" id="contactsTotal" name="contactsTotal">
            <div id="contactList" >
            </div>
            <div id="contactListEmpty">Defina los contactos sus cercanos, para casos de emergencia o para compartir la informaci&oacute;n cl&iacute;nica</div>
          {% endif %}
           <button class="button is-outline" type="submit" id="btnAddContact">
            Agregar nuevo
          </button>

          {# Family history 
          <h4 style="margin-top: 20px;" class="subtitle is-3">Antecedentes Familiares</h4>
          #}
        </div>

      </div>

      <div class="columns" style="padding:10px">
        <div class="column is-12" style="display: flex;justify-content: flex-end;">
          <div class="field  is-grouped">
            <p class="control">
              <button class="button is-link is-rounded" type="submit" id="btnSave">
                Guardar
              </button>
            </p>
            <p class="control">
              <a href="{{ path('profile') }}" class="button is-text" >
                Volver a mi cuenta
              </a>
            </p>
          </div>
        </div>
      </div>
    </form>


    <div class="modal" id="modalContact">
      <div class="modal-background" id="modalContactBack"></div>
      <div class="modal-card">
        <section class="modal-card-body">
          <h3 class="subtitle is-4">Contacto</h3>
          <form name="contactEdit" id="contactEdit">
            
            <div class="columns is-multiline is-mobile">
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Relaci&oacute;n</label>
                  <div class="control">
                    <div class="select">
                      <select class="input" name="contactRelation" id="contactRelation">
                        <option value="C">Contacto de emergencia</option>
                        <option value="E">Empleador</option>
                        <option value="I">Compañía de seguros/mutualista</option>
                        <option value="N">Familiar</option>
                        <option value="U">Otro</option>
                      </select>
                    </div>
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Nombre</label>
                  <div class="control">
                    <input class="input" type="text" name="contactName" id="contactName">
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
            </div>
            <div class="columns is-multiline is-mobile"  style="border-top: 1px solid #DDD;">
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Tipo de direcci&oacute;n</label>
                  <div class="control">
                    <div class="select">
                      <select class="input" name="contactAddressUse" id="contactAddressUse">
                        <option value="home">Particular</option>
                        <option value="work">Laboral</option>
                        <option value="temp">Temporal</option>
                      </select>
                    </div>
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Direcci&oacute;n</label>
                  <div class="control">
                    <input class="input" type="text" name="contactAddress" id="contactAddress">
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Pa&iacute;s</label>
                  <div class="control">
                    <div class="select">
                      <select name="contactCountry" id="contactCountry">
                        {% for country in countries %}
                          <option value="{{country.code}}">{{country.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Ciudad</label>
                  <div class="control">
                    <div  style="width: 100%;">
                      <select id="contactSelCity" name="contactSelCity">
                      </select>
                    </div>
                    <input type="hidden" id="contactCityId" name="contactCityId">
                    <input type="hidden" id="contactCityName" name="contactCityName">
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
            </div>
            <div class="columns is-multiline is-mobile" style="border-top: 1px solid #DDD;">
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Tipo tel&eacute;fono</label>
                  <div class="control">
                    <div class="select">
                      <select id="contactTelecomUse" name="contactTelecomUse">
                        <option value="home">Particular</option>
                        <option value="work">Laboral</option>
                        <option value="temp">Temporal</option>
                        <option value="mobile">M&oacute;vil</option>
                      </select>
                    </div>
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Tel&eacute;fono </label>
                  <div class="control">
                    <input class="input" type="text" name="contactPhone" id="contactPhone">
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
            </div>
            <div class="columns is-multiline is-mobile" style="border-top: 1px solid #DDD;">
              <div class="column is-12-desktop is-12-tablet is-12-mobile">
                <div class="field">
                  <label class="label">Correo eletrónico</label>
                  <div class="control">
                    <input class="input" type="text" name="contactEmail" id="contactEmail">
                  </div>
                  <div class="messages"></div>
                </div>
              </div>
            </div>
          </form>
        </section>
        <footer class="modal-card-foot" style="justify-content: flex-end;">
          <button class="button is-link is-rounded" id="modalContactOK">Guardar</button>
          <button class="button is-text" id="modalContactCancel">Cancelar</button>
        </footer>
      </div>
    </div>
    
  </div>

{% endblock %}


{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}
