{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('resetPassword') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('resetPassword') }}
{% endblock %}

{% block title %}Recuperar contrase&ntilde;a | BambusLife{% endblock %}

{# {% block header %}
  {{ include('components/header.html.twig') }}
{% endblock %} #}

{% block body %}

<div class="container">
  <div class="columns" style="max-width: 400px;margin: 0 auto;border: 1px solid #DDD;border-radius: 5px;">
    <div class="column">
      <div style="text-align: center;padding-top: 23px;">
        <picture>
          <source srcset="{{asset('build/images/logo72.webp')}}" type="image/webp">
          <source srcset="{{asset('build/images/logo72.png')}}" type="image/png">
          <img src="{{asset('build/images/logo72.png')}}" alt="BambusLife"  width="72" height="32">
        </picture>
      </div>
      <form method="post" action="/reset-password/{{userId}}|{{token}}|{{from}}" 
            style="padding: 40px 20px 20px 20px;" id="resetPassword" name="resetPassword" 
            enctype="multipart/form-data">
        <div>
          <h3 class="subtitle is-5" style="margin-bottom: 0px;">Restablecer contrase&ntilde;a</h3>
          <p style="margin-bottom: 20px;">Ingrese su nueva contrase&ntilde;a</p>
        </div>
        {% if error %}
          <article class="message is-danger">
            <div class="message-body">
              {{ error }}
            </div>
          </article>
        {% endif %}

        <div class="field">
          <label class="label">Contrase&ntilde;a</label>
          <div class="control">
            <input class="input " type="password"
                    name="pass" id="pass"
                    placeholder="Ingrese su nueva contrase&ntilde;a">
          </div>

          <div class="messages"></div>
        </div>
        <div class="field">
          <label class="label">Repetir contrase&ntilde;a</label>
          <div class="control">
            <input class="input " type="password" 
                    name="confirmPassword" id="confirmPassword" 
                    placeholder="Ingrese su contrase&ntilde;a otra vez para confirmar">
          </div>
          <div class="messages"></div>
        </div>
        <div class="field" style="margin-top: 30px;display: flex;justify-content: flex-end;">
          <p class="control">
            <button class="button is-primary" type="submit" id="btnContinue">
              Cambiar contrase&ntilde;a
            </button>
          </p>
        </div>

      </form>
    </div>
  </div>

  <div class="columns is-multiline is-mobile" style="max-width: 400px;margin: 0 auto;margin-top: 30px;font-size: 11px;">
    <div class="column is-12" style="padding: 0px 10px;">
      BambusLife © 2020
    </div>
    <div class="column is-12">
      <a href="{{ path('privacy_policy') }}">Pol&iacute;tica de privacidad</a>
      &nbsp;&nbsp;
      <a href="{{ path('terms_conditions') }}">T&eacute;rminos y condiciones</a>
    </div>
  </div>
</div>

{% endblock %}

{# 
{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %} #}